@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="justify-content-center align-items-center d-flex">
    <div class="text-center container">
        <h3>Bem vindo à área administrativa, <span class="text-success">@ViewBag.User.Nome</span>!</h3>
        <h6>Aqui você pode cadastrar novas colunas nas tabelas, deletá-las, modificá-las, ou simplesmente vê-las.
        </h6>
        <h6>Sinta-se livre para explorar!</h6>
    </div>
</div>